[Unit]
Description=wirgloo web IRC client
After=network.target

[Service]
ExecStart=/usr/local/bin/wirgloo
Restart=on-failure
RestartSec=5
DynamicUser=yes
CapabilityBoundingSet=
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
